#About {
    .about-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: top;
    }
    .description {
        max-width: 700px;
        margin: 0 auto;
    }
}